:root {
    color: #C13C20;
    background-color: #F5EFDD;
}

#lang img {
    width: 18px;
    height: auto;
}

h1 {
    font-family: 'Poppins-bold';
    font-weight: bold;
    font-size: 60px;
    line-height: 1.1;
}

h2 {
    font-family: Roboto;
    line-height: 1.38;
    color: #ec7936;
}

nav a {
    font-family: Montserrat;
    font-size: 18px;
    line-height: 2.75;
    text-align: left;
    margin-right: 17px;
    color: #c13c20;
}

footer {
    background-color: #c13c20;
    text-align:center;
}

footer a {
    font-family: Roboto;
    font-size: 16px;
    color: #FFFFFF;

}

footer p {
    font-family: Poppins-bold;
    font-size: 60px;
    color: #FFFFFF;

}

#star img {
    width: 50px;
    height: auto;
}